h4 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  color: #1b670c;
  margin-top: 250px;
  text-align: center;
  text-shadow: 8px 2px 17px #7fb053;
}
.profile {
  background-color: #f6f3f3;

  .header {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .images {
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .profilePic {
      width: 200px;
      height: 200px;
      border-radius: 1%;
      object-fit: cover;
      position: absolute;
      top: auto; /* Adjusted to position profile pic properly */
      border: 5px solid #506a39; /* Add border to the profile picture */
    }
  }

  .profileContainer {
    padding: 20px 70px;

    .uInfo {
      height: 310px;
      -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      border-radius: 20px;
      background-color: rgb(172, 190, 182);
      color: #f9f7f7;
      padding: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .edit {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .custom-file-upload {
          border: 1px solid #ccc;
          display: inline-block;
          padding: 10px 30px;
          cursor: pointer;
          background-color: #506a39;
          color: white;
          font-weight: bold;
          font-family: "roboto";
          text-transform: lowercase;
          text-decoration: solid;
          border-radius: 1000px;
          transition: all 0.2s;
          text-align: center;
        }
        .custom-file-upload:hover {
          background-color: #405a2c;
        }

        .item {
          display: flex;
          flex-direction: row; /* Align horizontally */
          align-items: center;
          justify-content: space-between; /* Space out items */
          gap: 10px;

          span {
            flex-basis: 110px;
            font-size: 20px;
            font-weight: bold;
            font-family: "roboto";
            padding-bottom: 5px;
            margin-bottom: 20px;
            margin-top: 20px;
          }

          input {
            border: none;
            border-bottom: 1px solid #fbfcfb;
            background: none;
            padding: 5px;
            font-size: 18px;
            outline: none;
            flex-grow: 1; /* Take up remaining space */
            margin-bottom: 24px;
            font-family: "roboto";
          }
        }

        button {
          width: 90%;
          margin: 0 auto;
          padding: 10px;
          border: none;
          background-color: #506a39;
          color: white;
          font-weight: bold;
          cursor: pointer;
          text-transform: uppercase;
          text-decoration: none;
          display: inline-block;
          transition: all 0.2s;
          position: relative;
          border-radius: 1000px;
          margin-left: 150px;
        }
      }

      .pass {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          display: flex;
          flex-direction: row; /* Align horizontally */
          align-items: center;
          justify-content: space-between; /* Space out items */
          gap: 10px;

          span {
            flex-basis: 150px;
            font-size: 20px;
            font-weight: bold;
            font-family: "roboto";
            padding-bottom: 5px;
            margin-bottom: 10px;
          }

          input {
            bottom: 100px;
            border: none;
            border-bottom: 1px solid #f8faf7;
            background: none;
            padding: 5px;
            font-size: 18px;
            outline: none;
            flex-grow: 1; /* Take up remaining space */
            margin-bottom: 30px;
          }
        }

        button {
          width: 90%;
          margin: 0 auto;
          padding: 10px;
          border: none;
          background-color: #506a39;
          color: white;
          font-weight: bold;
          cursor: pointer;
          text-transform: uppercase;
          text-decoration: none;
          display: inline-block;
          transition: all 0.2s;
          position: relative;
          border-radius: 1000px;
        }
      }
    }
  }
}
