.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  width: 100%;
}

.cont {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #f5fcff;
  border-bottom: 5px solid #5e3bee;
}

i {
  color: #18f98f;
  font-size: 2.5em;
  text-align: center;
}

span.num {
  color: black;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}

span.text {
  color: black;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
  }

  .container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }

  .cont {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    gap: 15px;
  }

  .cont {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}